* {
    font-family: Arial;
    background-color: #f4f4f9;
    padding: 20px;
    text-align: center;
}
button {
    color: purple;
    background-color: yellow;
}
button:hover {
    background-color: grey;
}