h1 {
  text-align: center;
  padding-top: 10px;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em; 
  display: inline-block;
}

nav li a {
  text-decoration: none;
  color: #000;
  padding: 0 2.2em 0 2.2em;
}

nav li a:hover {
  color: #fff;
  background-color: #0e0011;
}

header {
  background-color: #a8a7cf;
}

main {
  padding: 1.4142em;
  margin-bottom: 300px;
  font-size: 1.2em;
}

main img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #c7349b;
}

img {
  max-width: 40%;
  max-height: 40%;
  object-fit: cover;
}

footer img {
  display: inline;
}

video {
  display: block;
  margin: 0 auto;
}

footer {
  background-color: #a8a7cf;
  padding: 1.4142em;
}

body {
  background-color: #0e0011;
  color: #000;
  font-family: Arial, Verdana, sans-serif;
  margin-top: 25px;
}

#container {
  background-color: #c8c7f8;
  display: block;
  width: 70vw;
  color: #000;
  margin: auto;
}

@media (max-width: 768px) {
  #container {
    width: 100vw;
  }
}