body {
    justify-content: center;
    display: flex;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    width: 3.5in;
    height: 2in;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    font-size: 10px;
}

.top {
    height: 80%;
    padding-left: 1.6in;
    padding-top: 0.1in;
    background-color: lightgray;
}

.bottom {
    height: 20%;
    padding-left: 1.6in;
    background-color: yellow;
}

.photo-column {
    position: absolute;
    height: 100%;
}

.photo {
    width: 90%;
    height: 90%;
    object-fit: cover;
    padding: 0.1in;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info h2, p, h4, hr {
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 20px;
}

hr {
    margin: 10px 0 10px 0;
}

.qr {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.qr img {
    height: 0.5in;
    width: 0.5in;
}

.qr-supplement {
    padding-top: 10px;
}

.detail-link:hover {
    color: #1a73e8;
}

@media print {
    body {
        background: white;
    }
}